<div layout="column" ng-cloak class="md-inline-form">
	
  <md-content layout-padding layout="row" layout-sm="column">
    <md-input-container>
      <label>Task Name</label>
      <input ng-model="task.title">
    </md-input-container>
  </md-content>

  <md-content layout-padding>
    <form name="eventForm">
        <md-datepicker ng-model="task.date" md-placeholder="Enter date"></md-datepicker>
        <md-input-container>
	        <label>End Time</label>
	        <input ng-model="task.endTime">
        </md-input-container>
	    <textarea ng-model="task.description">
	    </textarea>
	    <md-button class="md-raised md-warn" ng-click="toggleUrgent()">
	    	Urgent
	    </md-button>
	    <div>
	    	<md-content>
	    	<md-list>
	    		<div style="height: 100px;" ng-repeat="user in selectedContacts">
            <img src="{{user.picture}}">  
            {{user.username}}
          </div>
          <md-input-container>
            <label>Add Invites</label>
            <input ng-model="filterContacts">
          </md-input-container>
    			<md-list class="fixedRows">
    				<md-subheader class="md-no-sticky">Contacts</md-subheader>
    				<md-list-item class="md-2-line contact-item" ng-repeat="user in updatedUsers | filter : filterContacts">
    					<div class="md-list-item-text compact">
                <md-button ng-click="addUserToTask(user)">
      						<img ng-src="{{user.picture}}">
  	    					<h3>{{user.username}}</h3>
  	    					<p>{{user.email}}</p>  	
                </md-button>				
    					</div>
    				</md-list-item>
    			</md-list>    	
	    	</md-content>
	    </div>
	<button ng-click="submitNewTask()"></button>
    </form>
  </md-content>
</div>