<div layout="column" ng-cloak class="md-inline-form">
  <md-content layout-padding layout="row" layout-sm="column">
    <md-input-container>
      <label>Event Name</label>
      <input ng-model="event.title">
    </md-input-container>
  </md-content>
  <md-content layout-padding>
    <form name="eventForm">
        <md-datepicker ng-model="event.date" md-placeholder="Enter date"></md-datepicker>
        <md-input-container>
	        <label>Start Time</label>
	        <input ng-model="event.startTime">
        </md-input-container>
        <md-input-container>
	        <label>End Time</label>
	        <input ng-model="event.endTime">
	    </md-input-container>
	    <textarea ng-model="event.description">
	    </textarea>
	    <div>
	    	<md-content>
	    	<md-list>
	    		<md-contact-chips placeholder = "Invites"
	    			ng-model="selectedContacts"
	    		>
	    		</md-contact-chips>
    			<md-list class="fixedRows">
    				<md-subheader class="md-no-sticky">Contacts</md-subheader>
    				<md-list-item class="md-2-line contact-item" ng-repeat="user in allUsers">
    					<div class="md-list-item-text compact">
    						<img ng-src="{{user.picture}}">
	    					<h3>{{user.username}}</h3>
	    					<p>{{user.email}}</p>
	    					<button ng-click="addUserToSelected()">+</button> 	
    					</div>
    				</md-list-item>
    			</md-list>    	
	    	</md-content>
	    </div>
	<button ng-click="submitNewEvent()"></button>
    </form>
  </md-content>
</div>