<div ng-controller="eventController">
	<div layout="row">
	<div flex class="eventHero">
		<h3 class="eventDetails">Time</h3><h1 class="eventDetails">/{{currentEvent}}/</h1><h3 class="eventDetails">Date</h3>
	</div>
</div>
<div layout="row">
	<div flex class="red">
		
	</div>
	<div flex>
		
	</div>
	<div flex >
		<h3>Tasks</h3>
		<md-button class="md-primary md-raised" ng-click="showTaskCreationModal()" flex-sm="100" flex-md="100" flex-gt-md="auto">
      Create Task
    </md-button>
    <div ng-repeat="event in $root.allUserEvents">
    	{{event.eventName}}
    	<div ng-repeat="task in event.tasks track by $index">
    		{{task}}
    	</div>
    </div>
	</div>
</div>
</div>
