<div ng-controller="eventController">
  <div class="hero-container bg-red-light1 user-info-section">
  <!-- <img class="user-hero"src="../img/user-bg.jpg"> -->
</div>
<div class="align-center user-hero-info" layout="row">
  <div flex="100"><h2 class="txt-white txt-xlrg" style="padding-top: 25px">{{currentEvent}}</h2></div>
<!--   <div flex="40" class="align-center">
    <h2 class="txt-white txt-lrg txt-bld">Tasks</h2>
    <table style="margin: 0 auto;" class="txt-white">
      <tr class="user-stats">
        <th>Total</th>
        <th>Urgent</th>
        <th>Ending</th>
      </tr>
      <tr class="user-stats txt-bld">
        <td>3</td>
        <td>1</td>
        <td>1</td>
      </tr>
    </table>
  </div> -->
</div>
	<!-- <div layout="row">
  <div class="hero-container bg-red-light1 home-section">
  
  </div>
	<div flex class="eventHero">
		<h3 class="eventDetails">Time</h3><h1 class="eventDetails">/{{currentEvent}}/</h1><h3 class="eventDetails">Date</h3>
	</div>
</div> -->
<div layout="row" >
	<div flex="33"class="align-center">
		<h2>Description</h2>
		{{currentEventInfo.eventDescription}}
	</div>
	<div flex="33"class="align-center">
		<h2>Invites</h2>
		<div ng-repeat="user in updatedUsers">
		<div style="width: 60px; display: inline-block;">
			<img style="border-radius: 50% "ng-src="{{user.picture}}">
		</div>

			<div>
			<span class="username-formatting">{{user.username}}</span>

			</div>
			
		</div>
	</div>
	<div flex="33" class="align-center">
		<h2>Tasks</h2>
		<md-button class="md-primary md-raised" ng-click="showTaskCreationModal()" flex-sm="100" flex-md="100" flex-gt-md="auto">
      Create Task
    </md-button>
    <div ng-repeat="task in $root.currentTasks">
    	<div layout="row" style="margin: 0 22%; ">
    	<md-checkbox>
          <p style="position: relative; top: 6px;">{{task.taskName}}</p>
        </md-checkbox>
        <md-button style="margin: 0 10%"class="md-warn" ng-click="removeTask()">
         	X
         </md-button>
    	</div>
    	
    	</div>
    </div>
	</div>
</div>
</div>
