<div ng-controller="userController">
  <div class="hero-container bg-red-light1 home-section">
  <!-- <img class="user-hero"src="../img/user-bg.jpg"> -->
</div>
<div class="align-center user-hero-info" layout="row">
  <div flex="33"><h2>{{userName}}</h2></div>
  <div flex="33">
    <span style="background-color: grey; width: 200px; height: 200px; border-radius: 100%; display: inline-block; position: relative; top: -100px;"></span>
  </div>
  <div flex="33">
    <h2>Tasks</h2>
    <table>
      <tr>
        <th>Total</th>
        <th>Urgent</th>
        <th>Ending</th>
      </tr>
      <tr>
        <td>3</td>
        <td>1</td>
        <td>1</td>
      </tr>
    </table>
  </div>
</div>

  <div class="eighty-percent-width event-list">
   <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
      <md-button flex="15"class="md-raised md-primary" ng-click="selectedView = 'social'">Social</md-button>
      <md-button flex="15" class="md-raised md-primary" ng-click="selectedView = 'work'">Work</md-button>
      <md-button flex="15" class="md-raised md-primary" ng-click="selectedView = 'personal'">Personal</md-button>
      <md-button flex="15" class="md-raised md-primary" ng-click="selectedView = ''">All</md-button>
      <md-button flex="15" class="md-warn md-raised" ng-click="showEventCreationModal()">
      Create Event
    </md-button>
    </section>
  <md-content>
    <md-list>
      <md-list-item class="md-3-line" ng-repeat="(index, userEvent) in allUserEvents | filter : selectedView">
        <div class="md-list-item-text">
          <h3>{{userEvent.eventName}}</h3>
          <p>{{userEvent.eventType}}</p>
          <button ng-click = "goToEvent(index, userEvent)">Go To Event</button>
          <button ng-click="displayEventPreview = !displayEventPreview">Preview Event</button>
          <button ng-click="removeEvent(index, userEvent)">X</button>
          <div ng-show="displayEventPreview">
            {{userEvent.eventDescription}}
          </div>
          <md-divider ng-if="!$last"></md-divider>
        </div>
        
      </md-list-item>
    </md-list>
  </md-content>

  </div>


 <!-- <md-content class="md-padding">
    <md-card>
      <img class="md-card-image" alt="Washed Out">
      <md-card-content>
        <h2 class="md-title">Paracosm</h2>
        <p>
          The titles of Washed Out's breakthrough song and the first single from Paracosm share the
          two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
        </p>
      </md-card-content>
      <div class="md-actions" layout="row" layout-align="end center">
        <md-button>Action 1</md-button>
        <md-button>Action 2</md-button>
      </div>
    </md-card>
</md-content> -->




</div>




