<div ng-controller="userController">
  <h3>{{userName}}</h3>

   <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
      <md-button class="md-raised">Social</md-button>
      <md-button class="md-raised md-primary">Work</md-button>
      <md-button class="md-raised md-primary">Personal</md-button>
      <md-button class="md-raised md-warn">All</md-button>
    </section>

 <md-content class="md-padding">
    <md-card>
      <img class="md-card-image" alt="Washed Out">
      <md-card-content>
        <h2 class="md-title">Paracosm</h2>
        <p>
          The titles of Washed Out's breakthrough song and the first single from Paracosm share the
          two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
        </p>
      </md-card-content>
      <div class="md-actions" layout="row" layout-align="end center">
        <md-button>Action 1</md-button>
        <md-button>Action 2</md-button>
      </div>
    </md-card>
</md-content>

<md-button class="md-primary md-raised" ng-click="showEventCreationModal()" flex-sm="100" flex-md="100" flex-gt-md="auto">
      Create Event
    </md-button>

  <md-content>
    <md-list>
      <md-list-item class="md-3-line" ng-repeat="userEvent in allUserEvents">
        <div class="md-list-item-text">
          <h3>{{userEvent.eventName}}</h3>
          <button ng-click = "goToEvent(index, userEvent)">Go To Event</button>
          <!-- <md-button ng-click="goToEvent(name, item)" class="md-secondary">Show Details</md-button> -->
          <button ng-click="displayEventPreview = !displayEventPreview">Preview Event</button>
          <div ng-show="displayEventPreview">
            {{userEvent.eventDescription}}
          </div>
          <md-divider ng-if="!$last"></md-divider>
        </div>
        
      </md-list-item>
    </md-list>
  </md-content>

</div>




